<mat-card class="home mat-elevation-z3">
  <mat-card-title class="title">
    Bem-vindos ao No Clima Da Musica
  </mat-card-title>
  <mat-card-subtitle class="subtitle">
    Aqui você pode encontrar a melhor playlist para o clima em que você está
  </mat-card-subtitle>
  
  <div class="container">
    <mat-card-subtitle>
      Digete o nome da cidade onde você está para ter uma playlist sugerida
    </mat-card-subtitle>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Nome da cidade</mat-label>
        <input matInput placeholder="Maceió">
      </mat-form-field>
    </p>
  </div>


</mat-card>